/*** z-index 0 so that the body element is behind the navbar element ***/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    height: 100%;
    background-color: #d6d6d6;
    color: #101740;
    z-index: 0;
}


.hero-image {
    background-image:  url('/images/geo.jpeg');
    height: 60vh;  
    max-width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: aliceblue;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
/*** remove link under links ***/
nav a {
    color: aliceblue;
    text-decoration: none;
}
/*** links change color when hovered over ***/
nav a:hover {
    color: #A62F24;
}

/*** z-index 0 so that the navbar stays in front of body element and sticky to make navbar scroll with page ***/
nav {
    border: 1px solid #C17E87;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 13vh;
    align-items: center;
    background-color:#0D1226;
    position: sticky;
    top: 0;
    z-index: 1;
}

.options {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 19px;
    color: aliceblue;
    font-weight: 600;
}

/*** acts as a border and separates page elements without using padding ***/
.separate {
    background-color:#0D1226;
    width: 100%;
    height: 5vh;
}

/*** heading is the smallest grid element and the content has the largest spaces ***/
.aboutme {
    display: grid;
    grid-template-columns: 15% 42.5% 42.5%;
    height: auto;
    border: 1px solid #C17E87;
    position: relative; 
}

/*** style how the heading looks. i want it to span all rows especially when the screen shrinks ***/
#about-heading {
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    text-align: center;
    background-color:#0D1226;
    color: aliceblue;
    justify-content: center;
    border: 1px solid #C17E87; 
}

img {
    max-width: 100%;
    height: auto;
    border: 3px solid #1e2852;
}
/*** margin auto so it stays centered when screen shrinks ***/
#picture {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: auto;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.education {
    display: grid;
    grid-template-columns: 15% 42.5% 42.5%;
    grid-template-rows: auto;
    height: auto;
    position: relative;
    border: 1px solid #C17E87;
}

.education a {
    color: #8C1843;
    font-weight: 600;
}

#educ-heading {
    display: flex;
    align-items: center;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    text-align: center;
    justify-content: center;
    background-color:#0D1226;
    color: aliceblue;
    border: 1px solid #C17E87; 
}

.educ-dates {
    text-align: center;
    padding: 40px;
    border-bottom: 1px solid #C17E87;
    font-weight: 700;
}

.educ-items {
    text-align: left;
    padding: 40px;
    border-bottom: 1px solid #C17E87;
}
.educ-items ul {
    list-style-type:square ;
}


.experience {
    display: grid;
    grid-template-columns: 15% 42.5% 42.5%;
    grid-template-rows: auto;
    height: auto;
    border: 1px solid #C17E87;  
}

#exp-heading {
    display: flex;
    align-items: center;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    text-align: center;
    background-color:#0D1226;
    justify-content: center;
    color: aliceblue;
    border: 1px solid #C17E87;
}

.exp-dates {
    text-align: center; 
    padding: 30px; 
    border-bottom: 1px solid #C17E87;
    font-weight: 700;
}

.exp-items {
    text-align: left; 
    padding: 30px;
    border-bottom: 1px solid #C17E87;
}

.exp-items ul {
    list-style-type: square;
}

.skills {
    display: grid;
    grid-template-columns: 15% 42.5% 42.5%;
    grid-template-rows: 1;
    height: auto;
    border: 1px solid #C17E87;
}

#skills-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    text-align: center;
    background-color:#0D1226; 
    color: aliceblue;
    border: 1px solid #C17E87; 
}

.types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 30px;
}
.types ul {
    list-style-type: square;
}

.contact {
    display: flex;
    flex-direction: column;
    border: 1px solid #C17E87; 
}


.contact a {
    color: #8C1843;
    font-weight: 600;
    font-size: 20px;
}
#contact-heading {
    align-items: center;
    text-align: center;
    background-color:#0D1226;
    color: aliceblue;
    justify-content: center;
    border: 1px solid #C17E87; 
}

/**** flex container for contact options ****/
.details {
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    padding-bottom: 2vh;
    justify-content: center;
    font-size: 18px;
}

/**** flex item for mode of communication ****/
.type {
    padding-right: 5vw;
    text-align: left;
    font-weight: 600;
}

.answer {
    text-align: left;
}
/**** make no bullets for list ****/
.type ul li {
    list-style-type: none;
    padding-bottom: 2vh;
}

/**** make have bullets for list ****/
.answer ul li {
    list-style-type:square ;
    padding-bottom: 2vh;
}

.contact {
    text-align: center;
}

form {
    padding-bottom: 30px;
}

@media only screen and (max-width:768px) /**** mobile ****/
{

/*** make font smaller as screen size gets smaller ***/
    body {
        font-size: 12px;
    }

/*** make picture and intro paragraph wrap as screen gets smaller ***/

    #picture {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        width: 200px;
    }

    #intro {
       grid-column: 2 / 4;
       grid-row: 2 / 3;
    }

    .options {
        font-size: 13px;
    }

    .aboutme {
        grid-template-columns: 20% 80%;
    }
    #about-heading {
        font-size: 10px; 
    }

    .education {
        grid-template-columns: 20% 30% 50%;
    }

    #educ-heading {
        font-size: 10px; 
    }
    .educ-dates {
        text-align: left;
    }
    .experience {
        grid-template-columns: 20% 25% 55%;
    }

    #exp-heading {
        font-size: 10px; 
    }
    .exp-dates {
        text-align: left;
    }

    .skills {
        grid-template-columns: 20% 80%;
    }

    #skills-heading {
        font-size: 10px; 
    }

    .details {
        font-size: 13px;
    }

    #contact-heading {
        font-size: 12px; 
    }
}

    
@media only screen and (min-width:769px) and (max-width:1024px) /**** tablet ****/
{
    body {
        font-size: 12px;
    }


    .options {
        font-size: 18px 
    }

}


@media only screen and (min-width:1025px) and (max-width:1215px) /**** laptop ****/
{
    body {
        font-size: 14px;
    }

    .options {font-size: 18px }
    }

@media only screen and (min-width:1215px) /**** bigger than laptop ****/
{

    body {
        font-size: 16px;
    }
}